body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #6f4e37;
    color: white;
    text-align: center;
    padding: 40px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}


button {
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: #6f4e37;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
    color: white;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}
.coffee-images {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 15px;
  justify-content: center;
}

.coffee-images img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}




footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

footer a {
    color: #ffd700;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}
